@page
@model MainPage.Pages.OyunlarModel

@{
    ViewData["Title"] = "Oyunlar";
}

<section>
    <header class="major">
        <h2>Oyunlar</h2>
    </header>
    <div class="alert alert-info">Oyunlarımız şuan geliştirme aşamasındadır. Yakında size iyi haberlerle döneceğiz.</div>
</section> 